{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <a href="{% url 'todolist_edit' todolist.id %}">Edit List</a>
        <a href="{% url 'todolist_delete' todolist.id %}">Delete List</a>
    </div>
    {% for todoitem in todolist.items.all %}
    <a href="{% url 'todoitem_edit' todoitem.id %}">Edit Task</a>
    {% endfor %}
</main>

{% endblock content %}