{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <a href="{% url 'todolist_create' %}">Create Todo List</a>
    </div>
    <div>
        <a href="{% url 'todoitem_create' %}">Create Todo Item</a>
    </div>
    {% for todolist in todolist_list %}
    <h2>
        <a href="{% url 'todolist_detail' todolist.id %}">{{ todolist.name }}</a>
    </h2>
    {% endfor %}
</main>

{% endblock content %}