<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Brain Two - Todo Lists</title>
    </head>

    <body>
        <header>
            <h1>Todo Lists</h1>
        </header>
        {% block content %}
        {% endblock content %}
    </body>



</html>